Checks: >
    bugprone-*,
    clang-analyzer-*,
    -bugprone-reserved-identifier,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -bugprone-easily-swappable-parameters,