CompileFlags:
    BuiltinHeaders: QueryDriver
    Add: 
      - "--target=thumb"
      - "-I/ti/ti-cgt-armllvm_4.0.2.LTS/include/c/"
    CompilationDatabase: build

Completion:
    HeaderInsertion: Never
    MacroFilter: FuzzyMatch

Documentation:
    CommentFormat: Doxygen
