CompileFlags:
    BuiltinHeaders: QueryDriver
    Remove: [-mcpu=*, -mfloat-abi=*]
    Add: [--target=arm-none-eabi]
    CompilationDatabase: build

Completion:
    HeaderInsertion: Never
    MacroFilter: FuzzyMatch

Documentation:
    CommentFormat: Doxygen
