CompileFlags:
    BuiltinHeaders: QueryDriver
    Compiler: tiarmclang
    Add: [--target=thumb]
    CompilationDatabase: build

Completion:
    HeaderInsertion: Never
    MacroFilter: FuzzyMatch

Documentation:
    CommentFormat: Doxygen