.cache
ti-llvm
build

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

CTestTestfile.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile.docs
Testing/

build/
build-*/
out/

hsm.*
*.a
src/mspn/sysconfig/device*
