#pragma once

#include "ti_msp_dl_config.h"
#include "group.h"


{% macro hexify(bytes) -%}
{% if bytes is not none -%}
{% for i in range(0, bytes | length, 2) %}0x{{ bytes[i:i+2] }}, {% endfor %}
{%- endif %}
{%- endmacro %}

#define STAGE1_PIN_ITERATIONS {{ STAGE1_PIN_ITERATIONS }}
#define STAGE1_KEY { {{ hexify(STAGE1_KEY) }} }
#define STAGE1_PADDING { {{ hexify(STAGE1_PADDING) }} }
#define STAGE2_RAND_INT {{ STAGE2_RAND_INT }}
#define STAGE1_PIN_HASH { {{ hexify(STAGE1_PIN_HASH) }} }


extern const group_t groups[{{ groups | length }}];


