#include "secrets.h"

{% macro hexify(bytes) -%}
{% if bytes is not none -%}
{% for i in range(0, bytes | length, 2) %}0x{{ bytes[i:i+2] }}, {% endfor %}
{%- endif %}
{%- endmacro %}

__attribute__((aligned(4)))
const uint8_t TRANSFER_KEY[32] = { {{ hexify(transfer_key) }} };

const group_t groups[{{ groups | length }}] = {
    {% for group_id, keys in groups | items %}
    {
        .group_id = {{ group_id }},
        .private = {
            .permissions = {
                .read = {{ keys["read"]["private"] is not none | lower }},
                .write = {{ keys["write"]["private"] is not none | lower }},
                .transfer = {{ keys["transfer"]["private"] is not none | lower }},
            },
            .read_key = { {{ hexify(keys["read"]["private"]) }} },
            .write_key = { {{ hexify(keys["write"]["private"]) }} },
            .transfer_key = { {{ hexify(keys["transfer"]["private"]) }} },
        },
        .public = {
            .read_key = { {{ hexify(keys["read"]["public"]) }} },
            .write_key = { {{ hexify(keys["write"]["public"]) }} },
            .transfer_key = { {{ hexify(keys["transfer"]["public"]) }} },
        }
    },
    {% endfor %}
};